.cards-wrapper {
    display: flex;
    justify-content: center;
}

.card {
    margin: 0 .5em;
    width: calc(100%/3);
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
}

.carousel-inner {
    padding: 1em;
    margin-bottom:50px;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-indicators {
    bottom:-50px;
}