<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layout}">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css">
    <!--하트 아이콘-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">

    <style>
        .page-link {
            color: #000000;
            background-color: #ffffff;
            border: 1px solid #cccccc;
        }

        .page-item.active .page-link {
            z-index: 1;
            font-weight: bold;
            background-color: #3C64B1;
            color: #ffffff;
            border-color: #3C64B1
        }

        .page-link:focus, .page-link:hover {
            color: #000000;
            background-color: #fafafa;
            border-color: #cccccc;
        }

        .post1 {
            border: 1px solid #ff6666;
            padding: 5px;
            border-radius: 40px;
            display: inline-block;
            font-size: 13px;
            text-decoration: none;
            color: black;
        }

        .post1:hover {
            background-color: #ff6666;
            color: white;
        }

        .post2 {
            border: 1px solid #39ac73;
            padding: 5px;
            border-radius: 40px;
            display: inline-block;
            font-size: 13px;
            text-decoration: none;
            color: black;
        }

        .post2:hover {
            background-color: #39ac73;
            color: white;
        }
    </style>
</head>


<div layout:fragment="content" class="container my-3">

    <h3 class="my-3 border-bottom border-secondary p-2 mt-lg-5">완성된 프로젝트</h3>
    <p class="mx-3">완성된 프로젝트를 뽐내주세요 🥳</p>

    <div class="d-flex justify-content-end my-2">
        <!--        <a th:href="@{/project/create}" class="btn btn-light">게시글 쓰기 </a>-->
        <!--    </div>-->


        <!--모달-->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop">게시글 쓰기
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <!--            <div class="modal-dialog">-->
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">작성하신 개발자 모집글을 통해서 작성해주세요</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        *개발자로 가입하신 경우에만 글 작성이 가능합니다.*<br>
                        <img src="/zzzz.gif"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary"
                                onclick="location.href='/workspace/list?page=0'">워크스페이스 목록 가기
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--모달 -->
    <table class="table">
        <thead></thead>
        <tbody>
        <tr th:each="project, loop : ${paging}">

            <div class="card my-3">

                <div class="card-header" th:onclick="|location.href='@{|/project/detail/${project.workspaceCid}|}'|"
                     style="cursor:pointer; font-size: large">
                    <span th:text="${project.title}"></span>

                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">

                        <div style="  width: auto; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; white-space:pre-wrap;
                                     -webkit-box-orient: vertical; -webkit-line-clamp: 5; line-height: 30px;  height: 150px; font-size: 0.8em"
                             th:text="${project.body}"></div>
                        <span class="badge bg-light text-dark p-2 " style="float:left"
                              th:text="${project.user.name}"></span>
                        <!--이동 버튼-->

                        <span style="float:right">
                            <a th:href="@{|/post/detail/${project.postCid}|}" class="post1" data-bs-toggle="modal"
                               data-bs-target="#staticBackdrop2">요청글 본문 보기</a>

                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static"
                                 data-bs-keyboard="false" tabindex="-1"
                                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-body"> 요청글 본문으로 이동하시겠습니까?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary"
                                                th:onclick="|location.href='@{|/post/detail/${project.postCid}|}'|">
                                            요청글 본문으로 이동
                                        </button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                            <a th:href="@{|/workspace/detail/${project.workspaceCid}|}" class="post2"
                               data-bs-toggle="modal"
                               data-bs-target="#staticBackdrop3">개발자 모집글 보기</a>
                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static"
                                 data-bs-keyboard="false"
                                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-body">현재 게시글 내용으로 완료된 프로젝트 페이지로 이동하시겠습니까? </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                    th:onclick="|location.href='@{|/workspace/detail/${project.workspaceCid}|}'|">개발자 모집글로 이동
                                            </button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                </div>
                            </div>
                        </div>
                 </div>
                </span>

                    </blockquote>
                </div>
            </div>
        </tr>
        </tbody>
    </table>

    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${paging.number-1}|}">
                    <!--  <span>이전</span>  -->
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:classappend="${page == paging.number} ? 'active'"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                class="page-item">
                <a th:text="${page + 1}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                    <!--  <span>다음</span>  -->
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
</div>
</html>

