<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layout}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css">
<div layout:fragment="content" class="container" style="float: none; margin:100 auto;" >

    <h4 class="container my-3 border-bottom pb-2">게시글 작성</h4>
 <!--  유효성 체크  -->
    <div class="alert alert-danger" role="alert" th:if="${titleErrorMsg != null}" th:text="${titleErrorMsg}"></div>
    <div class="alert alert-danger" role="alert" th:if="${bodyErrorMsg != null}" th:text="${bodyErrorMsg}"></div>

    <form th:action="@{''}" th:object="${projectForm}" method="post" onclick="getHtml()">
        <div class="mb-10">
            <label class="form-label">제목</label>
            <input th:value="${projectFrom?.title}" type="text" th:field="*{title}" class="form-control" placeholder="프로젝트 제목을 입력해주세요">
        </div>
        <div class="mb-3" >
            <label class="form-label">내용</label>
            <textarea th:field="*{body}" class="form-control" rows="18" name="body"
                      placeholder="배포된 프로젝트의 주소를 포함해 작성해주세요" th:text="${projectFrom?.body}"></textarea>
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
    </div>
</html>