<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://thymeleaf.org" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- CSS only -->
    <link href="../../static/css/chat.css" th:href="@{/css/chat.css}" rel="stylesheet">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body layout:fragment="content">
    <div class="container-fluid my-2 w-75">
        <div id="liveAlertPlaceholder"></div>

        <div class="row clearfix ">
            <div class="col-lg-12">
                <div class="card chat-app">
                    <div id="plist" class="people-list">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-search"></i></span>
                            </div>
                            <input id="searchChatRoomName" type="text" class="form-control" placeholder="Search...">
                        </div>
                        <div id="chatRoomTable" style="max-height: 75vh; overflow-y: scroll;">
                            <div th:if="${rooms!=null and !rooms.empty}">
                                <ul class="list-unstyled chat-list mt-2 mb-0">
                                    <li class="clearfix active" th:each="room : ${rooms}">
                                        <div th:roomid="${room.chatRoomId}"
                                             onclick="event.preventDefault(), changeChatRoom(this.getAttribute('roomid')); ">
                                            <img id="currRoomImage" th:src="${room.imageUrl}" alt="chatRoomImage">
                                            <div class="about">
                                                <div id="currRoomName" class="name" th:text="${room.roomName}">Aiden Chavez</div>
<!--                                                <div th:unless="${#strings.contains(room.updatedAt, '.')}">-->
<!--                                                    <div class="recent"-->
<!--                                                         th:text=${#strings.arraySplit(room.updatedAt,'T')[1]}>-->
<!--                                                        online-->
<!--                                                    </div>-->
<!--                                                </div>-->

                                                <!--                                            <input id="roomId" type="hidden" th:value="${room.chatRoomId}">-->
                                                <!--                                            <input id="name" type="hidden" th:value="${room.roomName}">-->

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="chat">
                        <div class="chat-header clearfix">
                            <div class="row">
                                <div id="representRoom" class="col-lg-6">
                                    <img id="representImage" th:src="${roomImageUrl}" alt="avatar"
                                         href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                    <h6 id="representName" th:text="${roomName}" class="chat-about m-b-0">Aiden
                                        Chavez</h6>
                                </div>
                                <div class="col-lg-6 hidden-sm text-right">
                                    <div class="modal fade" id="createChatRoomModal" aria-hidden="true"
                                         aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <!--                                            <form th:action="@{/chat/room/create}" th:object="${chatRoomForm}" method="post">-->
                                                <form>
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalToggleLabel">채팅방 생성</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="mb-3 modal-body text-center">
                                                        <label for="roomName" class="form-label">생성할 채팅방 이름을 입력해주세요</label>
                                                        <input type="text" class="form-control"
                                                               id="roomName">
<!--                                                        <input type="text" class="form-control"-->
<!--                                                               id="postCid">-->
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button id="createChatRoom" value="완료" class="btn btn-primary"
                                                                data-bs-toggle="modal">
                                                            완료
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="modal fade" id="inviteChatRoomModal" aria-hidden="true"
                                         aria-labelledby="inviteModalToggleLabel" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <!--                                            <form th:action="@{/chat/room/create}" th:object="${chatRoomForm}" method="post">-->
                                                <form>
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="inviteModalToggleLabel">초대하기</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="mb-3 modal-body text-center">
                                                        <label for="roomName" class="form-label">초대할 아이디를 입력해주세요</label>
                                                        <input type="text" class="form-control"
                                                               id="inviteUserId">

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button id="inviteChatRoomButton" value="완료"
                                                                class="btn btn-primary"
                                                                data-bs-toggle="modal">
                                                            완료
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <a class="btn btn-primary" data-bs-toggle="modal" href="#createChatRoomModal"
                                    role="button">
                                    채팅방만들기
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor"
                                         class="bi bi-plus" viewBox="0 0 16 16">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                    </a>
                                    <a class="btn btn-secondary" data-bs-toggle="modal" href="#inviteChatRoomModal"
                                       role="button">
                                        초대하기
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-plus" viewBox="0 0 16 16">
                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                        </svg>
                                    </a>
                                    <div id="message" class="my-3">
                                        <span th:unless = ${message==null} th:classappend="${error==null ? 'alert-success' : 'alert-danger'}" class="alert" role="alert"  th:text="${message}">invite message</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="chats" class="chat-history overflow-auto" style="height: 70vh; max-height: 70vh">
                            <ul class="m-b-0">
                                <div id="chatList">
                                    <div th:if="${chats!=null and !chats.empty}">
                                        <li th:each="chat : ${chats}" class="clearfix">
                                            <div th:if="${chat.senderId} == ${senderId}">
                                                <div class="message-data text-right">
                                                    <span class="message-data-time"
                                                          th:text="${chat.senderName}">user</span>
                                                    <span class="message-data-time"
                                                          th:text="${chat.createdAt}">10:10 AM, Today</span>
                                                    <img id="myAvatar" th:src="${chat.profileImageUrl}" alt="avatar">
                                                </div>
                                                <div class="message my-message float-right" th:text="${chat.message}">
                                                    Hi Aiden,
                                                    how are you? How is the
                                                    project coming along?
                                                </div>
                                            </div>
                                            <div th:unless="${chat.senderId} == ${senderId}">
                                                <div class="message-data">
                                                    <img th:src="${chat.profileImageUrl}" alt="avatar">
                                                    <span class="message-data-time"
                                                          th:text="${chat.senderName}">user</span>
                                                    <span class="message-data-time"
                                                          th:text="${chat.createdAt}">10:10 AM, Today</span>
                                                </div>
                                                <div class="message other-message" th:text="${chat.message}"> Hi Aiden,
                                                    how are you? How is the
                                                    project coming along?
                                                </div>
                                            </div>
                                        </li>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <div class="chat-message clearfix">
                            <div class="input-group mb-0">
                                <div id="sendMessage" class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-send"></i></span>
                                </div>
                                <input id="msg" type="text" class="form-control" placeholder="Enter text here...">
                                <input id="currRoomId" th:value="${!rooms.empty}? ${rooms[0].chatRoomId}: ''"
                                       type="hidden">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:inline="javascript">
    var sockJs = new SockJS("/stomp/chat");
    //1. SockJS를 내부에 들고있는 stomp를 내어줌
    var stomp = Stomp.over(sockJs);

    $(document).ready(function (){
        initStomp();
        const element = document.getElementById('chats');
        element.scrollTop = element.scrollHeight;
    });

    function initStomp() {

        var roomId = $("#currRoomId").val();
        var username = "test user";
        console.log(roomId + ", " + username);


        //2. connection이 맺어지면 실행
        stomp.connect({}, function () {
            console.log("STOMP Connection")

            //4. subscribe(path, callback)으로 메세지를 받을 수 있음
            stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
                console.log("chat : " + chat);
                var content = JSON.parse(chat.body);

                var sender = content.senderName;
                var senderId = content.senderId;
                var createdAt = content.createdAt;
                var message = content.message;
                var profileImageUrl = content.profileImageUrl;
                var str = '';
                if (senderId !== /*[[${senderId}]]*/) {
                    str = "<li class='clearfix my-3' >";
                    str += "<div class='message-data'>";
                    str += "<img src='" + profileImageUrl + "' alt='avatar'>";
                    str += "<span class='message-data-time'>" + sender + "</span>";
                    str += "<span class='message-data-time'>" + createdAt + "</span>";
                    str += "</div>";
                    str += "<div class='message other-message'>" + message + "</div>";
                    str += "</li>";

                    $("#chatList").append(str);
                }


            }, {id: roomId});
        });

        //3. send(path, header, message)로 메세지를 보낼 수 있음
        // stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writer: username}))

    }

    function subscribe(roomId) {
        console.log("STOMP Connection");
        console.log(roomId);
        //4. subscribe(path, callback)으로 메세지를 받을 수 있음
        stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
            console.log("function chat : " + chat);
            var content = JSON.parse(chat.body);

            var sender = content.senderName;
            var senderId = content.senderId;
            var createdAt = content.createdAt;
            var message = content.message;
            var profileImageUrl = content.profileImageUrl;
            var str = '';

            if (senderId !== /*[[${senderId}]]*/) {
                str = "<li class='clearfix my-3>";
                str += "<div class='message-data'>";
                str += "<img src='" + profileImageUrl + "' alt='avatar'>";
                str += "<span class='message-data-time'>" + sender + "</span>";
                str += "<span class='message-data-time'>" + createdAt + "</span>";
                str += "</div>";
                str += "<div class='message other-message'>" + message + "</div>";
                str += "</li>";

                $("#chatList").append(str);
            }
        }, {id: roomId});
    }

    function updateChatRoom() {
        var chatRoomBean = {
            roomName: $("#roomName").val(),
            postCid: 9,
        };
        $.ajax({
            url: "/chat/room/create",
            type: "POST",
            data: chatRoomBean,
        })
            .done(function (fragment) {
                $('#chatRoomTable').replaceWith(fragment);
            });
    }

    function inviteChatRoom() {
        var inviteChatRoomBean = {
            userId: $("#inviteUserId").val(),
            chatRoomId: $("#currRoomId").val()
        };
        $.ajax({
            url: "/chat/room/invite",
            type: "POST",
            data: inviteChatRoomBean,
        })
            .done(function (fragment) {
                console.log("invite")
                $("#message").replaceWith(fragment)
            });
    }

    function getChats(roomId) {
        console.log("chat room click")
        if (roomId == $("#currRoomId").val()) {
            console.log("room is identical!");
            return;
        }
        var chatRoomIdBean = {
            roomId: roomId,
            beforeRoomId : $("#currRoomId").val()
        };

        changeSubs(roomId);

        $.ajax({
            url: "/chat/history",
            type: "Get",
            data: chatRoomIdBean,
        })
            .done(function (fragment) {
                $('#chats').replaceWith(fragment);
            });
    }


    function representChatRoomAbout(roomId){
        var chatRoomIdBean = {
            roomId: roomId
        };

        $.ajax({
            url: "/chat/room/represent",
            type: "GET",
            data: chatRoomIdBean
        })
            .done(function (fragment) {
                $('#representRoom').replaceWith(fragment);
            });
    }

    function changeChatRoom( roomId){
        getChats(roomId);
        representChatRoomAbout(roomId);
    }

    function changeSubs(roomId) {
        // if (roomId == $("#currRoomId").val()) {
        //     console.log("room is identical!");
        //     return;
        // }
        stomp.unsubscribe($("#currRoomId").val());
        console.log("unsubscribe currRoomId : " + $("#currRoomId").val());
        $("#currRoomId").val(roomId);

        subscribe(roomId);
        // var chatBean = {
        //     roomId: document.getElementById('roomId').value,
        //     roomName: $("#name").val()
        // };
        // stomp.disconnect(stompSetting(), {});
    }



    function sendMsg() {
        var msg = document.getElementById("msg");
        var today = new Date();
        var dateTime = today.toLocaleString().toString().substring(2, 19);
        if (msg.value !== "") {
            console.log("sendMessage:" + msg.value);
            stomp.send('/pub/chat/message', {}, JSON.stringify({
                chatRoomId: $("#currRoomId").val(),
                message: msg.value,
                createdAt: dateTime,
                senderName: /*[[${name}]]*/,
                senderId: /*[[${senderId}]]*/, //사용중인 사용자로 변경 필요
                profileImageUrl: $("#myAvatar").attr('src')
            }));
            var profileImageUrl = $("#myAvatar").attr('src')
            var name = /*[[${name}]]*/;
            // var dateTime = date+' '+time;
            str = "<li class='clearfix my-3'>";
            str += "<div class='message-data text-right'>";
            str += "<span class='message-data-time'>" + name + "</span>";
            str += "<span class='message-data-time'> " + dateTime + "</span>";
            str += "<img src='" + profileImageUrl + "' alt='avatar'>";
            str += "</div>";
            str += "<div class='message my-message float-right'>" + msg.value + "</div>";
            str += "</li>";

            $("#chatList").append(str);
            msg.value = '';
        }
    }

    function searchChatRoom(){

        var chatRoomNameBean = {
            chatRoomName: $("#searchChatRoomName").val()
        };

        $.ajax({
            url: "/chat/room/search",
            type: "GET",
            data: chatRoomNameBean
        })
            .done(function (fragment) {
                $('#chatRoomTable').replaceWith(fragment);
            });
    }

    $('#msg').on("keyup", function (e) {
        if (e.key === "Enter") {
            console.log('msg send enter event');
            sendMsg()
        }
    });

    $('#searchChatRoomName').on("keyup", function (e) {
        if (e.key === "Enter") {
            console.log('search chat room enter event');
            searchChatRoom()
        }
    });


    $("#sendMessage").on("click", function (e) {
        sendMsg()
    });

    $("#createChatRoom").on("click", function (e) {
        e.preventDefault();
        updateChatRoom();
    });

    $("#inviteChatRoomButton").on("click", function (e) {
        e.preventDefault();
        inviteChatRoom();
    });
</script>
</body>

</html>