<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- CSS only -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="../../static/css/chat.css" th:href="@{/css/chat.css}" rel="stylesheet">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container" >
    <div id="liveAlertPlaceholder" ></div>

    <div class="row clearfix" >
        <div class="col-lg-12">
            <div class="card chat-app">
                <div id="plist" class="people-list">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                    <div id="chatRoomTable" style="max-height: 75vh; overflow-y: scroll;">
                        <div th:if="${rooms!=null and !rooms.empty}">
                            <ul class="list-unstyled chat-list mt-2 mb-0" >
                                <li class="clearfix active" th:each="room : ${rooms}" >
                                    <div th:roomid="${room.chatRoomId}" onclick="getChats(this.getAttribute('roomid'));">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                        <div class="about">
                                            <div class="name"  th:text="${room.roomName}">Aiden Chavez</div>
                                            <div class="recent" th:text=${#strings.arraySplit(room.updatedAt,'T')[1]}>
                                                online
                                            </div>
<!--                                            <input id="roomId" type="hidden" th:value="${room.chatRoomId}">-->
<!--                                            <input id="name" type="hidden" th:value="${room.roomName}">-->

                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="chat">

                    <div class="chat-header clearfix">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                </a>
                                <div class="chat-about">
                                    <h6 class="m-b-0">Aiden Chavez</h6>
                                    <small>Last seen: 2 hours ago</small>
                                </div>
                            </div>
                            <div class="col-lg-6 hidden-sm text-right">
                                <div class="modal fade" id="exampleModalToggle" aria-hidden="true"
                                     aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <!--                                            <form th:action="@{/chat/room/create}" th:object="${chatRoomForm}" method="post">-->
                                            <form>
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalToggleLabel">채팅방 생성</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="mb-3 modal-body text-center">
                                                    <label for="roomName" class="form-label">채팅방 이름을 입력해주세요</label>
                                                    <input type="text" class="form-control"
                                                           id="roomName">
                                                    <input type="text" class="form-control"
                                                           id="postCid">
                                                    <!--                                                    <input type="text" class="form-control" th:field="*{roomName}"-->
                                                    <!--                                                           id="roomName">-->
                                                    <!--                                                    <input type="text" class="form-control" th:field="*{postCid}"-->
                                                    <!--                                                           id="postCid">-->
                                                </div>

                                                <div class="modal-footer">
                                                    <button value="완료" class="btn btn-primary"
                                                            data-bs-target="#exampleModalToggle2"
                                                            data-bs-toggle="modal" onclick="updateChatRoom()">
                                                        완료
                                                    </button>
                                                    <!--                                                    <input type="submit" value="완료" class="btn btn-primary"-->
                                                    <!--                                                           data-bs-target="#exampleModalToggle2"-->
                                                    <!--                                                           data-bs-toggle="modal">-->
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle"
                                   role="button">
                                    채팅방만들기
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-plus" viewBox="0 0 16 16">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="chats" class="chat-history overflow-auto" style="height: 70vh; max-height: 70vh">
                        <ul id="chatList" class="m-b-0">
                            <div th:if="${chats!=null and !chats.empty}">
                                <li class="clearfix" th:each="chat : ${chats}">
                                    <div class="message-data text-right">
                                        <span class="message-data-time" th:text="${chat.senderName}">user</span>
                                        <span class="message-data-time"
                                              th:text="${chat.createdAt}">10:10 AM, Today</span>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
                                    </div>
                                    <div class="message my-message float-right" th:text="${chat.message}"> Hi Aiden,
                                        how are you? How is the
                                        project coming along?
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="chat-message clearfix">
                        <div class="input-group mb-0">
                            <div id="sendMessage" class="input-group-prepend" >
                                <span class="input-group-text"><i class="fa fa-send"></i></span>
                            </div>
                            <input id="msg" type="text" class="form-control" placeholder="Enter text here...">
                            <input id="currRoomId" th:value="${!rooms.empty}? ${rooms[0].chatRoomId}: ''" type="hidden">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:inline="javascript">
    var sockJs = new SockJS("/stomp/chat");
    //1. SockJS를 내부에 들고있는 stomp를 내어줌
    var stomp = Stomp.over(sockJs);

    $(document).ready(
        initStomp()
    );
    function initStomp() {

        var roomId = $("#currRoomId").val();
        var username = "test user";
        console.log(roomId + ", " + username);


        //2. connection이 맺어지면 실행
        stomp.connect({}, function(){
            console.log("STOMP Connection")

            //4. subscribe(path, callback)으로 메세지를 받을 수 있음
            stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
                console.log(chat);
                var content = JSON.parse(chat.body);

                var sender = content.senderName;
                var createdAt = content.createdAt;
                var message = content.message;
                var str = '';

                str = "<li class='clearfix'>";
                str += "<div class='message-data'>";
                str +=      "<span class='message-data-time'>" + sender + "</span>";
                str +=      "<span class='message-data-time'>" + createdAt + "</span>";
                str +=      "<img src='https://bootdey.com/img/Content/avatar/avatar7.png' alt='avatar'>";
                str += "</div>";
                str += "<div class='message other-message'>" + message + "</div>";
                str += "</li>";

                $("#chatList").append(str);
            }, { id: roomId});
        });

        //3. send(path, header, message)로 메세지를 보낼 수 있음
        // stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writer: username}))

    }

    function subscribe(roomId){
        console.log("STOMP Connection");
        console.log(roomId);
        //4. subscribe(path, callback)으로 메세지를 받을 수 있음
        stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
            console.log(chat);
            var content = JSON.parse(chat.body);

            var sender = content.senderName;
            var createdAt = content.createdAt;
            var message = content.message;
            var str = '';

            str = "<li class='clearfix'>";
            str += "<div class='message-data'>";
            str += "<span class='message-data-time' >" + sender + "</span>";
            str += "<span class='message-data-time' >" + createdAt + "</span>";
            str += "<img src='https://bootdey.com/img/Content/avatar/avatar7.png' alt='avatar'>";
            str += "</div>";
            str += "<div class='message other-message'>" + message + "</div>";
            str += "</li>";
            // if (writer === username) {
            //     str = "<div class='col-6'>";
            //     str += "<div class='alert alert-secondary'>";
            //     str += "<b>" + writer + " : " + message + "</b>";
            //     str += "</div></div>";
            //     $("#msgArea").append(str);
            // } else {
            //     str = "<div class='col-6'>";
            //     str += "<div class='alert alert-warning'>";
            //     str += "<b>" + writer + " : " + message + "</b>";
            //     str += "</div></div>";
            //     $("#msgArea").append(str);
            // }
            //
            $("#chatList").append(str);
        }, { id: roomId});
    }

    function updateChatRoom() {
        var chatRoomBean = {
            roomName: $("#roomName").val(),
            postCid: $("#postCid").val(),
        };
        $.ajax({
            url: "/chat/room/create",
            type: "POST",
            data: chatRoomBean,
        })
            .done(function (fragment) {
                $('#chatRoomTable').replaceWith(fragment);
            });
    }

    function changeSubs(roomId){
        if(roomId == $("#currRoomId").val()){
            console.log("room is identical!");
            return;
        }
        stomp.unsubscribe($("#currRoomId").val());
        console.log("unsubscribe currRoomId : " + $("#currRoomId").val());
        $("#currRoomId").val(roomId);

        subscribe(roomId);
        // var chatBean = {
        //     roomId: document.getElementById('roomId').value,
        //     roomName: $("#name").val()
        // };
        // stomp.disconnect(stompSetting(), {});
    }

    function getChats(roomId) {
        console.log("chat room click")

        changeSubs(roomId);

        $.ajax({
            url: "/chat/history?roomId=" + roomId,
            type: "Get"
            // data: chatBean,
        })
            .done(function (fragment) {
                $('#chats').replaceWith(fragment);
            });
    }

    function sendMsg(){
        var msg = document.getElementById("msg");
        var today = new Date();
        var dateTime = today.toLocaleString().toString().substring(2, 21);
        if (msg.value !== "") {
            console.log("sendMessage:" + msg.value);
            stomp.send('/pub/chat/message', {}, JSON.stringify({
                chatRoomId: $("#currRoomId").val(),
                message: msg.value,
                createdAt: dateTime,
                senderName: /*[[${name}]]*/,
                senderId: /*[[${senderId}]]*/ //사용중인 사용자로 변경 필요
            }));


            // var dateTime = date+' '+time;
            str = "<li class='clearfix my-3'>";
            str += "<div class='message-data text-right'>";
            str += "<span class='message-data-time'>user</span>";
            str += "<span class='message-data-time'> " + dateTime + "</span>";
            str += "<img src='https://bootdey.com/img/Content/avatar/avatar7.png' alt='avatar'>";
            str += "</div>";
            str += "<div class='message my-message float-right'>" + msg.value + "</div>";
            str += "</li>";

            $("#chatList").append(str);
            msg.value = '';
        }
    }

    $('#msg').on("keyup", function(e) {
        if (e.key === "Enter") {
            console.log('Enter');
            sendMsg()
        }
    });


    $("#sendMessage").on("click", function (e) {
        sendMsg()
    });
</script>


<style>
    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #3C64B1;
        border-color: #3C64B1;
    }


</style>
</body>
</html>