<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form th:action="@{'/update/' + ${userDto.userId}}" method="post">

        user id : <input type="text" name="userId" th:value="${userDto.userId}"/><br>
        user pw : <input type="text" name="password" th:value="${userDto.password}"/><br>
        name : <input type="text" name="name" th:value="${userDto.name}"/><br>
        <br>
        <input type="submit" value="수정">
    </form>
</body>
</html>