<html
        lang="ko"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layout}" >

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/card_carousel_style.css}">
</head>

<div layout:fragment="content">

    <!-- 메인 제목, 구분선-->
    <div class="container-fluid" style="text-align: center;">
        <div style="margin: 250px;">
            <h1 class="display-2"><strong>Step Stone</strong></h1>
            <h5>당신을 위한 디딤돌이 되는 공간</h5>
        </div>
        <div>
            <hr class="my-2" style="width: 500px; display: inline-block">
        </div>
    </div>

    <!-- 최근 이슈 게시글 부분 -->
    <div style="margin: 100px 0;">
        <div class="container-fluid">
            <h4 class="mx-3 my-4">최근 이슈 게시글</h4>
        </div>
        <div class="container-fluid">
            <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">

                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" th:style="${postSize > 0? 'display:block' : 'display:none'}"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" th:style="${postSize >= 6? 'display:block' : 'display:none'}"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" th:style="${postSize >= 9? 'display:block' : 'display:none'}"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active" th:if="${postSize} > 0">
                        <div class="cards-wrapper">
                            <tr><div class="card" th:each="post: ${posts1}">
                                <!-- 1, 2, 3번 게시글 (likes 정렬 후) -->
                                <div class="card-body">
                                    <td><h5 class="card-title" th:text="${post.title}"></h5></td>
                                    <td><h6 class="card-subtitle mb-2 text-muted" th:text="'userCid : ' + ${(post.userCid)}"></h6><td>
                                    <td><p class="card-text" th:text="${post.body}"></p><td>
                                    <td><p>
                                        <i class="fa-solid fa-heart"></i>&nbsp;&nbsp;
                                        <span class="card-text" th:text="${post.likes}"></span>
                                    </p><td>
                                    <td><div><a class="card-link" th:href="@{|/post/detail/${post.postCid}|}">게시글 읽기</a></div><td>
                                </div>
                            </div><tr>
                            <!-- 아래 코드는 뼈대를 위한 코드 (참고용) / display: none
                            <div class="card" style="display: none">
                                <div class="card-body">
                                    <h5 class="card-title">최근 이슈 게시글 제목</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">작성자</h6>
                                    <p class="card-text">최근 이슈 게시글 본문 내용</p>
                                    <a href="#" class="card-link">Card link</a>
                                </div>
                            </div>
                            -->
                        </div>
                    </div>
                    <div class="carousel-item" th:if="${postSize} > 5">
                        <div class="cards-wrapper">
                            <tr><div class="card" th:each="post: ${posts2}">
                                <!-- 4, 5, 6번 게시글 -->
                                <div class="card-body">
                                    <td><h5 class="card-title" th:text="${post.title}"></h5></td>
                                    <td><h6 class="card-subtitle mb-2 text-muted" th:text="'userCid : ' + ${(post.userCid)}"></h6><td>
                                    <td><p class="card-text" th:text="${post.body}"></p><td>
                                    <td><p>
                                        <i class="fa-solid fa-heart"></i>&nbsp;&nbsp;
                                        <span class="card-text" th:text="${post.likes}"></span>
                                    </p><td>
                                    <td><a class="card-link" th:href="@{|/post/detail/${post.postCid}|}">게시글 읽기</a><td>
                                </div>
                            </div><tr>
                        </div>
                    </div>
                    <div class="carousel-item" th:if="${postSize} > 8">
                        <div class="cards-wrapper">
                            <tr><div class="card" th:each="post: ${posts3}">
                                <!-- 7, 8, 9번 게시글 -->
                                <div class="card-body">
                                    <td><h5 class="card-title" th:text="${post.title}"></h5></td>
                                    <td><h6 class="card-subtitle mb-2 text-muted" th:text="'userCid : ' + ${(post.userCid)}"></h6><td>
                                    <td><p class="card-text" th:text="${post.body}"></p><td>
                                    <td><p>
                                        <i class="fa-solid fa-heart"></i>&nbsp;&nbsp;
                                        <span class="card-text" th:text="${post.likes}"></span>
                                    </p><td>
                                    <td><a class="card-link" th:href="@{|/post/detail/${post.postCid}|}">게시글 읽기</a><td>
                                </div>
                            </div><tr>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev"
                        th:style="${postSize > 0? 'display:block' : 'display:none'}">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next"
                        th:style="${postSize > 0? 'display:block' : 'display:none'}">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>
        </div>

        <div class="container-fluid" th:if="${postSize} == 0">
            <div class="container-fluid" style="text-align: center">
                <h5>최근 이슈 게시글이 없습니다.</h5>
            </div>
        </div>

    </div>
</div>
</html>