<html
        lang="ko"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layout}" >

<head>
    <meta charset="utf-8">

    <script>
        function updateForm__submit(form) {
            form.newPassword.value = form.newPassword.value.trim();
            form.newPasswordConfirm.value = form.newPasswordConfirm.value.trim();

            if ( form.newPassword.value != form.newPasswordConfirm.value ) {
                alert("입력하신 새로운 비밀번호와 일치하게 입력해주세요.");
                form.newPassword.focus();
                return;
            }

            form.submit();
        }
    </script>

</head>

<div layout:fragment="content">

    <div class="container mt-5 h-100">

        <div class="card shadow-lg">
            <div class="card-body">

                <!-- My Page 제목 + 구분선 -->
                <div class="container">
                    <h1 class="m-4">패스워드 변경</h1>
                    <hr class="my-2">
                </div>

                <form th:action="@{/mypage/update}" th:object="${mypageForm}" method="post" onsubmit="updateForm__submit(this); return false;">
                    <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                        <span th:text="${message}">수정 완료</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                        <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                    </div>

                    <div class="mb-3">
                        <label for="newPassword" class="form-label">새 패스워드</label>
                        <input id="newPassword" type="password" class="form-control" th:field="*{newPassword}" name="newPassword">
                        <small id="newPasswordHelp" class="form-text text-muted">
                            새 패스워드를 입력하세요.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="newPasswordConfirm" class="form-label">새 패스워드 확인</label>
                        <input id="newPasswordConfirm" type="password" class="form-control" rows="10" th:field="*{newPasswordConfirm}" name="newPasswordConfirm">
                        <small id="newPasswordConfirmHelp" class="form-text text-muted">
                            새 패스워드를 다시 한번 입력하세요.
                        </small>
                    </div>

                    <input type="submit" value="패스워드 변경하기" class="btn btn-primary my-2">
                </form>

            </div>

        </div>

    </div>

</div>