<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<div layout:fragment="content" class="container my-3">

    <div class="d-flex justify-content-end my-2">
        <a th:href="@{/post/list?page=0}" class="btn btn-light" th:text="목록으로"></a>
    </div>
    <h2 class="border-bottom py-2" th:text="${postEntity.title}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="badge bg-light text-dark p-2 text-start">
                <div class="mb-2">
                    <h6 th:text="|작성자 : ${postEntity.user.name}|"></h6>
                </div>
            </div>

            <div style="white-space:pre-wrap;" class="card-text" th:utext="${@commonUtil.markdown(postEntity.body)}" rows="35"></div>
<!--            <div style="white-space:pre-wrap;" class="card-text" th:text="${postEntity.body}" rows="35"></div>-->
            <span class="d-flex justify-content-end my-2">
        <a th:href="@{/chat/room}" class="btn btn-light">문의하기 </a>
        &nbsp;
        <a th:href="@{|/workspace/create/${postEntity.postCid}|}" class="btn btn-light">개발자 모집 글 작성하기 </a>
    </span>
        </div>
    </div>

    <!-- 좋아요 -->
    <script>
    function heart_info(){
 var likeEntity = "[[${likeEntity}]]";
 var src;
     if(likeEntity!="null"){
      src='/heart_fill.svg';
        } else {
          src= '/heart.svg';
         }
         return src;
    }
    </script>

    <span class="d-flex justify-content-end my-2">
    게시글 공감하기&nbsp;&nbsp;&nbsp;&nbsp;
        <a th:href="@{|/post/${postEntity.postCid}/likes|}">
        <img id="heart" src=""/>
        <script>document.getElementById('heart').src=heart_info()</script></a> &nbsp;&nbsp;
        <span th:text="${postEntity.likes}"> </span>
        <!-- 좋아요 -->
    </span>
    <div class="d-flex justify-content-end my-2">
        <a th:href="@{|/post/postup/${postEntity.postCid}|}" class="btn btn-sm btn-outline-secondary"
           sec:authorize="isAuthenticated()"
           th:if="${postEntity.user != null and #authentication.getPrincipal().getUsername() == postEntity.user.userId}"
           th:text="끌어올리기"></a>
        &nbsp;
        <a th:href="@{|/post/modify/${postEntity.postCid}|}" class="btn btn-sm btn-outline-secondary"
           sec:authorize="isAuthenticated()"
           th:if="${postEntity.user != null and #authentication.getPrincipal().getUsername() == postEntity.user.userId}"
           th:text="수정"></a>
        &nbsp;
        <a onclick="if ( !confirm('정말로 삭제하시겠습니까?') ) return false;"
           th:href="@{|/post/delete/${postEntity.postCid}|}" class="btn btn-sm btn-outline-secondary"
           sec:authorize="isAuthenticated()"
           th:if="${postEntity.user != null and #authentication.getPrincipal().getUsername() == postEntity.user.userId}"
           th:text="삭제"></a>
    </div>
</div>
</html>
