<html
        lang="ko"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css">
</head>

<div layout:fragment="content">
    <div class="container" style="float: none; margin:100 auto;">
<!--        <h4 class="container my-3 border-bottom pb-2">게시글 작성</h4>-->
        <h3 class="my-3 border-bottom border-secondary p-2 mt-lg-5">게시글 작성</h3>
        <!--  유효성 체크  -->
        <div class="alert alert-danger" role="alert" th:if="${titleErrorMsg != null}" th:text="${titleErrorMsg}"></div>
        <div class="alert alert-danger" role="alert" th:if="${bodyErrorMsg != null}" th:text="${bodyErrorMsg}"></div>
        <form th:action="@{''}" th:object="${postForm}" method="post" onclick="getHtml()">
            <div class="mb-10 mt-4">
                <label class="form-label">제목</label>
                <input th:value="${postForm?.title}" type="text" th:field="*{title}" class="form-control"
                       placeholder="본문 내용과 관련된 제목으로 작성해 주세요. ">
            </div>
            <div class="mb-3 mt-3">
                <label class="form-label">내용</label>
                <textarea th:field="*{body}" class="form-control" rows="18" name="body"
                          placeholder="필요한 서비스에 대한 설명을 자세히 작성해주시면 매칭 확률이 올라갑니다." th:text="${postForm?.body}"></textarea>
            </div>
            <input type="submit" value="저장하기" class="btn btn-primary my-2" style="background-color: #3C64B1; color: #ffffff; border-color: #3C64B1">
        </form>
    </div>
</div>
</html>
