<script>
            function move(){
      location.href = "/workspace/list?page=0";
            }
        </script>

<script >

            function move3(){
      location.href = "/workspace/list/1";
            }

        </script>


<script>

    function move2() {
     var postCid = "[[${fakePostCid}]]";

       location.href = "/workspace/list/" + postCid;

}

</script>

<script th:inline="javascript">
      /*<![CDATA[*/
         var postCid = /*[[${post.postCid}]]*/ null;
       /*]]>*/
</script>
